$pramity-color: #0b5c9b;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav#mainNav {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
    background: #fff;

    .logo {
        width: 50px;
    }
    .l_name {
        font-size: 20px;
        font-weight: 400;
        color: $pramity-color;
    }

    .n_n {
        background: rgba(104, 104, 104, 0.2);
    }

    .nav-link {
        color: #fff;
        background: #00cbcf;
        position: relative;
        top: -5px;
        right: 6px;
    }
}
#s_clean {
    padding-top: 119px;

    .v_c {
        width: 348px;
    }
    
    .c_ulWrapper {
        text-align: left;
        padding: 10px;
    }
    .c_ulWrapper2 {
        text-align: center;
        padding: 10px;
        font-size: 22px;

        .fa-check {
            color: #00cbcf;
            font-size: 23px;
        }
    }
    h1.text-center.py-2 {
        font-weight: 700;
        color: #007bff;
        font-size: 69px;
    }
    h3.text-center.py-3 {
        font-weight: 100;
        margin-top: -23px;
    }
    .c_ulWrapper {
        text-align: left;
        padding: 10px;
        font-size: 22px;
        .c_lip {
            padding-left: 51px;
        }
    
        .fa_l {
            position: relative;
            top: 14px;
        }
       .fa-check {
            color: #00cbcf;
            font-size: 23px;
        }
        span.c_li5 {
            padding-left: 52px;
        }
    }

    

    .c_download {
        text-align: center;
        background: rgba(104, 104, 104, 0.2);
        width: 46%;
        margin: 0 auto;
        padding: 32px;
        margin-top: 19px;
        display: block;
        /* height: 51px; */
        position: relative;
        border-radius: 1px;

        .c_d {
            background: #00cbcf;
            color: #fff;
            /* padding: 18px 55px 18px 47px; */
            width: 103%;
            position: absolute;
            top: -7px;
            right: 7px;
            padding: 20px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }

    .s_links {
        display: block;
        padding: 18px 0 0 130px;
        font-size: 13px;
    }
}

#section_2 {
    padding-top: 170px;
    img.c_p {
        width: 390px;
        margin: 27px 0 0 7px;
    }

    img.s_2m {
        width: 98px;
        width: 94px;
        display: block;
        margin-left: -47px;
        margin-top: 17px;
    }

    p.p_w1 {
        font-size: 20px;
        font-weight: 800;
        color: #007bff;
    }

    p.p_w2 {
        font-size: 19px;
    }
    p.p_w2.p_w3 {
        padding-bottom: 95px;
    }

    img.s_2s {
        /* width: 98px; */
        width: 111px;
        display: block;
        margin-left: -58px;
        margin-top: 17px;
    }
    .m_wrap {
        margin: 75px 0 0 0;
    }

    .p_waps {
        padding: 62px 0 0 0;
    }
    img.c_imhsf {
        width: 94px;
        display: block;
        margin-left: -46px;
        margin-top: 23px;
    }
    img.c_awed {
        width: 94px;
        display: block;
        margin-left: -46px;
        margin-top: 28px;
    }
}

#sectio_3 {
    padding-top: 250px;

    h1.s3_mtb {
        font-weight: 700;
        color: #007bff;
        font-size: 59px;
    }

    img.s3_wodsad {
        width: 344px;
    }

    .s3_download {
        text-align: center;
        background: rgba(104, 104, 104, 0.2);
        width: 46%;
        margin: 0 auto;
        padding: 32px;
        margin-top: 84px;
        display: block;
        /* height: 51px; */
        position: relative;
        border-radius: 1px;

        a.s3_d {
            background: #00cbcf;
            color: #fff;
            /* padding: 18px 55px 18px 47px; */
            width: 103%;
            position: absolute;
            top: -7px;
            right: 7px;
            padding: 20px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }
    .s3_links {
        padding-top: 27px;
        font-size: 14px;
        display: block;
        padding: 10px 0 0 50px;
    }
}

#section4 {
    padding-top: 92px;

    h1.s4_clean {
        font-weight: 700;
        color: #007bff;
        font-size: 59px;
        // // width: 42%;
        // text-align: right;
        // padding-left: 50px;
    }

    .s4_download {
        text-align: center;
        background: rgba(104, 104, 104, 0.2);
        width: 36%;
        margin: 0 auto;
        padding: 32px;
        margin-top: 53px;
        display: block;
        position: relative;
        border-radius: 1px;
        left: -169px;

        a.s4_d {
            background: #00cbcf;
            color: #fff;
            width: 99%;
            position: absolute;
            top: -7px;
            right: 7px;
            padding: 20px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }

    .s4_b {
        width: 106%;
        background: #fff;
        -webkit-box-shadow: 0 -1px 5px rgba(104, 104, 104, 0.8);
        box-shadow: 0 -1px 5px rgba(104, 104, 104, 0.8);
        margin-top: 32px;
        padding: 25px 30px 2px 41px;
        border-radius: 5px;


        p.s4_des {
            font-size: 19px;
            font-weight: 600;
        }
        
    }
    
}

section#s5 {
    margin-top: 169px;

    img.u_comp {
        width: 370px;
    }

    h1 {
        font-weight: 700;
        color: #007bff;
        font-size: 55px;
    }
    .s3_download {
        text-align: center;
        background: rgba(104, 104, 104, 0.2);
        width: 46%;
        margin: 0 auto;
        padding: 32px;
        margin-top: 84px;
        display: block;
        /* height: 51px; */
        position: relative;
        border-radius: 1px;

        a.s3_d {
            background: #00cbcf;
            color: #fff;
            /* padding: 18px 55px 18px 47px; */
            width: 103%;
            position: absolute;
            top: -7px;
            right: 7px;
            padding: 20px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }
}

footer#footerSectio {
    margin-top: 61px;
    background-color: #00cbcf;
    padding: 46px 0;
    box-shadow: 0 -1px 5px rgba(104, 104, 104, 0.8);
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }
    h4.text-right.py-4 {
        font-size: 17px;
        font-weight: 400;
    }
}

.bg1 {
    position: absolute;
    background: #c1e9de;
    padding: 596px;
    opacity: 0.4;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
    z-index: -1;
    right: 0;
    clip-path: circle(50.1% at 107% 49%);
    top: 707px;
    width: 88%;
}
.bg2 {
    position: absolute;
    background: #c1e9de;
    padding: 644px;
    opacity: 0.4;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
    z-index: -1;
    left: -11px;
    clip-path: circle(50.1% at 107% 49%);
    top: 672px;
    width: 102%;
}

.bg3 {
    position: absolute;
    background: #668dc8;
    padding: 264px;
    clip-path: circle(46.3% at 17% 52%);
    top: 3350px;
    z-index: -1;
    opacity: 0.4;
}

.bg6 {
    background: rgba(174, 161, 161, 0.2);
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
    z-index: -1;
    padding: 285px;
    position: absolute;
    right: 0;
    top: 2850px;
    clip-path: circle(47.0% at 66% 51%);
}
.black {
    vertical-align: middle;
    border-style: none;
    width: 182px;
    border-radius: 3px;
   
}
.modalPopUP {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
    width: 524px;
    height: 376px;
    margin-top: 10%;
    background: #fff;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    display: none;
    transition: all 1.5s ease-in 1s;
    z-index: 5555555;
}
#bodyblack {
    background-color: rgba(0, 0, 0, .65);
    padding: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 753%;
    display: none;
    z-index: 5555;
    width: 103%;
}
#wiat {
    font-size: 20px;
    color: #fff;
}
.dm {
    font-size: 16px;
    color: #fff;
    padding: 0 0 12px 24px;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #f7f7f7;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
    position: relative;
    bottom: 67px;
    padding: 5px 29px 0 0;
}
.messagesInfo {
    font-size: 21px;
    padding: 25px 0 28px 21px;
    width: 331px
}
.imgInfo {
    float: right;
    position: relative;
    bottom: 145px;
    right: 3px;
}
.btnDonwload {
    padding: 0 0 0 31px;
    display: block;
    margin-top: -17px;
}
.btndanger {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 48%;
    outline: none;
    padding: 14px;
    border: none;
    border-radius: 2px;
}
.a_bad {
    line-height: 20px;
    display: block;
    margin-left: 13px;
    margin-top: 10px;
}